/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap"); */

:root {
    --square: 11rem;
    --generate-radius: 2rem;
    --generator-border: transparent;
    --light: rgb(50, 91, 121);
    --dark: rgb(22, 77, 96);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /* font-family: sans-serif; */
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #387e94;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.instruction {
    position: absolute;
    --size: 25px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: none;
    /* background-color: black; */
    /* color: white; */
    margin: 1rem;
    cursor: pointer;
}

/* ------- color generator ---------- */

.main {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    gap: 1.5rem;
    height: 80vh;
}

.generator-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 30rem;
    border-radius: 2rem;
    box-shadow: 8px 6px 0px 6px var(--dark);
    background-color: var(--dark);
    margin-block: 2rem;
    margin-inline: auto;
}

.whiteboard {
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem 0 0 2rem;

    /* font-size: 1.1rem; */
    letter-spacing: 1px;
    font-weight: 600;
    color: #67729d;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    cursor: pointer;
    border: 1px solid var(--generator-border);
    border-right: none;
}

.placeholder {
    color: #676767;
}

.generator {
    border-radius: 0 2rem 2rem 0;
    /* border-radius: 0 1rem 1rem 0; */

    /* border: 0px solid var(--generator-border); */
    border: none;
    font-size: 1.1rem;
    background-color: rgb(50, 91, 121);
    color: white;
    cursor: pointer;
    padding-inline: 1rem;
}

.copied {
    background-color: #4b4f52;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border-radius: 2rem;
    padding-block: 7px 5px;
    padding-inline: 10px 10px;
    box-shadow: 3px 3px 0px 3px #2e3537;
    transition: 200ms;
    position: absolute;
    top: 4px;
    left: 10rem;
    /* transition: background-color 400ms; */
    opacity: 0;
}

.tooltip {
    position: absolute;
    top: -3rem;
    left: 0;
    /* right: 50%; */
    /* transform: translate(50%, -50%); */
    /* bottom: 10%; */
    background-color: black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: white;
    z-index: 100;
    visibility: visible;
}
.before {
    position: absolute;
    visibility: hidden;
}
@keyframes bounce {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}
.tooltip::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    height: 20px;
    width: 20px;
    --border-color: black;
    border-right: 10px solid var(--border-color);
    border-bottom: 10px solid var(--border-color);
    rotate: 45deg;
    /* transform: rotate(45deg); */
    z-index: -1;
}

/* .generator-container:hover .tooltip {
    display: block;
} */
/* boxes */

.palette-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-palette {
    position: relative;
    width: min(80%, 1000px);
    border-radius: 2rem;
    display: flex;
    z-index: 5;
}

.color-palette::after {
    content: "";
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, 0);
    height: calc(100% + 2rem);
    width: calc(100% + 5rem);
    border-radius: 5rem;
    background: linear-gradient(
        180deg,
        rgb(55, 105, 141) 0%,
        rgb(21, 84, 109) 100%
    );
    z-index: -1;
}
.color-palette::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: 2rem;
    width: 100%;
    scale: 1.1;
    height: calc(100% + 1rem);
    padding-bottom: 2rem;
    border-radius: 5rem;
    z-index: -1;
    background: linear-gradient(
        180deg,
        rgb(22, 77, 96) 0%,
        rgb(22, 77, 96) 80%,
        rgb(12, 44, 55) 100%
    );
}

.box-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    /* font-weight: 600; */
    border-radius: 40px;
}
form {
    position: relative;
}
.input-tooltip {
    position: absolute;
    /* top: -100%; */
}
input {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
}

input:focus-visible {
    outline: 0;
}

input::placeholder {
    font-size: 1rem;
}

.box {
    width: 100%;
    height: var(--square);
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.box .color-code {
    display: flex;
    font-weight: 500;
    color: black;
    color: #ffffff;
    /* mix-blend-mode: color-burn; */
    filter: invert(100%);
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
    .color-palette {
        width: 100%;
    }
}

/*  footer  */

footer p {
    color: white;
    font-weight: 400;
    padding: 1rem;
    letter-spacing: 1px;
}
